.header {
    position: sticky;
    top: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px 0;
    background-color: #fff;
    z-index: 9;
}

.header .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.header .log img {
    width: 35px;
}

.header .log a {
    color: var(--mainColor);
}

.header .nav a {
    color: #101928;
}

.nav ul {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}


.header .auth a {
    font-family: var(--subFont);
    padding: 10px 30px;
    border-radius: 5px;
    margin-right: 5px;

}

.header .auth a:first-of-type {
    border: 1px solid var(--mainColor);
    color: var(--mainColor);
}

.header .auth a:last-of-type {
    background-color: var(--mainColor);
    color: #fff;
}

.bars-menu {
    display: none;
}

@media(max-width:992px) {
    .nav {
        display: none;
    }

    .bars-menu {
        display: inline-block;
        order: 1;
    }

    .auth {
        display: none;
    }
}

@media(max-width:400px) {
    .logo {
        display: none;
    }
}

.courses {
    padding: 40px 0;
}

.courses .row {
    gap: 30px;
    align-items: flex-start;
}

.course-items {
    display: flex;
    flex-wrap: wrap;
    width: calc((100% - 30px) / 2);
    gap: 20px;
}

.course {
    width: calc((100% - 20px) / 2);
    box-shadow: 0px 7.437575340278996px 7.437575340278996px rgba(0, 0, 0, 0.05);
}

.course-card {
    position: relative;
}

.course-details {
    padding: 20px;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.desc {
    padding: 0 80px 0 80px;
}


.lastdesc {
    border: 1px solid var(--mainColor);
    background-color: var(--mainColor);
    color: #fff;
    border-radius: 2px;
    padding: 3px 25px;
    margin-top: 20px;
}

.course-details .row {
    justify-content: space-around;
}

.course-details .row:first-of-type span {
    color: var(--mainColor);
}

.course-details .row:last-of-type {
    justify-content: flex-start;
}

.course-description {
    width: calc((100% - 30px) / 2);
}

.course-info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
    color: #fff;


}

.course-info span:first-of-type {
    background-color: var(--mainColor);
    padding: 20px;
    justify-content: space-between;

}

.course-info span:last-of-type {
    color: #fff;
    font-size: 20px;
    align-self: flex-end;
}

.course-card img {
    filter: brightness(70%);
}

.testimonials {
    text-align: center;
    padding: 40px 0;

}

.testimonials h2 {
    margin-bottom: 30px;
}


.testimonials .row {
    gap: 40px;
    flex-direction: row;
}

.testimonial {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    /*    width: calc((100% - 40px) / 2);   */
    flex-basis: 400px;
    align-items: flex-start;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    padding: 20px;
    position: relative;
    flex-grow: 1;
}




.testimonial:after {
    content: '';
    border-top: 40px solid rgb(228, 226, 226);
    border-left: 40px solid transparent;
    border-bottom: 40px solid transparent;
    position: absolute;
    top: 0;
    right: 0;

}

.testimonial .user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%
}

.testimonial .user-info {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-items: center;
}

.testimonial .user-info .user-data {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    align-items: flex-start;

}

.testimonial .user-info .user-data span {
    font-size: 12px;
    color: #969696;
}

.testimonial .rating {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
}

.testimonial q {
    color: #646464;
}


.testimonial blockquote q {
    display: inline-block;
    padding: 0 10px;
}

/*@media (max-width:992px) {
    .testimonial {
        width: 100%;
    }

    .testimonial blockquote p {
        font-size: 14px;
    }
}*/

.footer {
    background-color: #393E46;
    color: #fff;
    padding: 50px 0;
}

.footer a {
    color: #fff;
}

.footer .row {
    gap: 40px;
}



.footer-left-side {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-wrap: wrap;
    flex-basis: 400px;
    flex-grow: 1;
}

.footer .footer-left-side .logo {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.footer .footer-left-side .logo img {
    width: 35px;
}

.footer .footer-left-side .logo a {
    font-size: 14px;
}

.footer .footer-left-side p {
    color: #F4F4F4;
    font-size: 14px;
    font-weight: 200px;
}

.footer .footer-left-side .icons {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.footer .footer-left-side .icons img {
    border: 1px solid #fff;
    width: 15px;
    height: 15px;
    padding: 10px;
    box-sizing: content-box;
}


.footer-right-side {
    flex-grow: 1;
}

.footer-right-side .row {
    justify-content: space-evenly;
    align-items: flex-start;
}

.footer-right-side .footer-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
}

.footer-right-side .footer-item ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 6px;
}

@media (max-width:400px) {
    .footer-left-side {
        text-align: center;
        align-items: center;
    }
}


.course-section {
    font-family: Arial, sans-serif;
    background-color: #2e51a2;
    border-radius: 5px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    height: 500px;
    align-items: center;
}

.course-content {
    flex: 1;
    padding: 500px;
}



.course-content {
    flex: 1;
    padding: 20px;
}


.course-image {
    flex: 1;
    position: relative;
}

.course-content h2 {
    color: #ffd700;
    margin: 0;
}

.course-content h1 {
    font-size: 2em;
    margin: 0.5em 0;
}

.course-content p {
    font-size: 1em;
    margin: 1em 0;
}

.course-stats {
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;

}

.course-stats .stat {
    text-align: center;
}


.course-image img {
    padding: 200px;
    /*
    width: 60%;
    height: 60%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;*/
}

.what-we-give-section {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    margin: 20px;
    background-color: #dddada;
    border-radius: 10px;
    width: 98%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    align-items: center;
    height: 500px;
}

.content {
    flex: 1;
    padding: 40px;
}

.content h2 {
    color: #5063f0;
    font-size: 20px;
    margin-bottom: 10px;
}

.content h1 {
    font-size: 30px;
    margin: 15px 0;
    color: #333;
}

.content p {
    font-size: 15px;
    color: #777;
}

.cards {
    flex: 2;
    display: flex;
    padding: 40px;
    justify-content: space-between;
}

.card {
    background-color: #5063f0;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    margin: 0 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.card .icon {
    margin-bottom: 20px;
}

.card .icon i {
    width: 50px;
    height: 50px;
}

.card h3 {
    font-size: 30px;
    margin: 10px 0;
}

.card p {
    font-size: 15px;
    color: #e0e0e0;
}

.find-course-section {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    height: 500px;
    width: 100%;
    padding: 60px;

}

.text-content {
    flex: 1;
    padding-right: 20px;
}

.text-content .subtitle {
    color: #5063f0;
    font-size: 15px;
    margin-bottom: 10px;
}

.text-content h1 {
    font-size: 30px;
    margin: 10px 0;
    color: #333;
}

.text-content .highlight {
    color: #5063f0;
}

.text-content .description {
    font-size: 15px;
    color: #777;
    margin: 10px 0;
}

.buttons {
    display: flex;
    align-items: center;
}

.buttons .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 15px;
}

.buttons .register {
    background-color: #5063f0;
    color: #fff;
}

.buttons .play-video {
    background-color: #cbbf79;
    color: #fff;
}

.image-content {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.image-content img {
    width: 60%;
    height: auto;
}

/*






}*/