.header {
    position: sticky;
    top: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px 0;
    background-color: #fff;
}

.header .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.header .log img {
    width: 35px;
}

.header .log a {
    color: var(--mainColor);
}

.header .nav a {
    color: #101928;
}

.nav ul {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.header .auth a {
    font-family: var(--subFont);
    padding: 10px 30px;
    border-radius: 5px;
    margin-right: 5px;

}

.header .auth a:first-of-type {
    border: 1px solid var(--mainColor);
    color: var(--mainColor);
}

.header .auth a:last-of-type {
    background-color: var(--mainColor);
    color: #fff;
}

@media(max-width:992px) {
    .nav {
        display: none;
    }
}


.testimonials {
    text-align: center;
    padding: 40px 0;

}

.testimonials h2 {
    margin-bottom: 30px;
}


.testimonials .row {
    gap: 40px;
}

.testimonial {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    width: calc((100% - 40px) / 2);
    align-items: flex-start;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    padding: 20px;
    position: relative;
}
.testimonial:after{
    content: '';
    border-top: 40px solid rgb(228, 226, 226);
    border-left: 40px solid transparent;
    border-bottom: 40px solid transparent;
    position: absolute;
    top: 0;
    right: 0;

}

.testimonial .user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%
}

.testimonial .user-info {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-items: center;
}

.testimonial .user-info .user-data {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    align-items: flex-start;

}

.testimonial .user-info .user-data span {
    font-size: 12px;
    color: #969696;
}

.testimonial .rating {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
}

.testimonial q {
    color: #646464;
}

.testimonial blockquote q {
    display: inline-block;
    padding: 0 10px;
}

.footer {
    background-color: #393E46;
    color: #fff;
    padding: 50px 0;
}

.footer a {
    color: #fff;
}

.footer .row {
    gap: 40px;
}

.footer .footer-left-side,
.footer .footer-right-side {
    width: calc((100% - 40px) /2);
}

.footer-left-side {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-wrap: wrap;
}

.footer .footer-left-side .logo {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.footer .footer-left-side .logo img {
    width: 35px;
}

.footer .footer-left-side .logo a {
    font-size: 14px;
}

.footer .footer-left-side p {
    color: #F4F4F4;
    font-size: 14px;
    font-weight: 200px;
}

.footer .footer-left-side .icons {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.footer .footer-left-side .icons img {
    border: 1px solid #fff;
    width: 15px;
    height: 15px;
    padding: 10px;
    box-sizing: content-box;
}

.footer-right-side .row {
    justify-content: space-evenly;
    align-items: flex-start;
}

.footer-right-side .footer-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
}

.footer-right-side .footer-item ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 6px;
}